:root{
  --dark-blue: #0b2d54;
  --deep-blue: #1d5ba3;
  --light-blue: #89c6ff;
  --aj-coral: #FF8676;
}

body{
  background-color: #f0f4f9;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
}

::selection{
  background-color: rgba(11, 45, 84,.2);
}

.canvas{
  margin: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 25px rgba(0,0,0,.05);

  display: flex;

  animation: fade-in-canvas 1s cubic-bezier(0,.25,.25,1);
}

.canvas .column{
  flex: 1;
  padding: 50px;
}

.canvas .column:last-child{
  padding-left: 20px;
}

.canvas .column ul:last-child{
  margin-bottom: 0px;
}

.canvas a{
  color: initial;
  transition: .3s ease-in-out;
}

.canvas a:hover{
  opacity: .6;
}

.profile-overview{
  background: linear-gradient(var(--light-blue), var(--deep-blue));
  box-shadow: inset 0 0 50px rgba(0,0,0,.2);
  /* background-color: var(--deep-blue); */
  color: #fff;
  text-align: center;
  border-radius: 5px 0px 0px 5px;
}

.profile-overview p{
  margin-bottom: 0px;
}

.profile-overview h2{
  font-size: 15px;
  color: var(--dark-blue);
}

.profile-picture{
  border-radius: 100%;
  max-width: 70%;
  max-height: 70%;
  box-shadow: 0px 10px 25px rgba(0,0,0,.1);
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

.profile-picture:hover{
  transform: translateY(-10px);
  box-shadow: 0px 50px 50px rgba(0,0,0,.15);
  cursor: pointer;
}

h1{
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
}

h2{
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--deep-blue);
  letter-spacing: 1.05px;
}

.quote{
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: var(--deep-blue);
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 130%;
  transition: opacity .3s ease-in-out;
}

.quote:hover{
  text-decoration: underline;
  cursor: pointer;
  opacity: .7;
}

.quote:before{
  content: open-quote;
}

.quote:after{
  content: close-quote;
}

p{
  opacity: .75;
  margin-bottom: 40px;
  line-height: 130%;
}

ul{
  margin-bottom: 40px;
  padding-left: 20px;
  line-height: 130%;
}

li{
  list-style-type: none;
  opacity: .75;
  margin-bottom: 6px;
}

.characteristics li::before{
  content: "\2022";
  color: var(--dark-blue);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  opacity: 1;
}

.audible img{
  /* border: 1px solid red; */
  width: 16px;
  padding-left: 2px;
  transform: translateY(2px);
}

p a{
  text-decoration: none;
}

p a:hover{
  text-decoration: underline;
  opacity: .7;
}

p .audible img{
  width: 12px;
  padding-left: 0px;
  padding-right: 2px;
  transform: translateY(1px);
  filter: brightness(0%);
}

.contact-options{
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  border-top: 1px solid rgba(255,255,255,.4);
  padding-top: 20px;
  opacity: .5;
  transition: opacity .5s ease-in-out;
}

.contact-options:hover{
  opacity: 1;
}

.contact-options h2{
  color: #fff;
  margin-bottom: 12px;
}

.profile-buttons{
  display: flex;
  max-width: 300px;
  margin: 0 auto;
}

.profile-buttons{
  padding-left: 0px;
}

.profile-buttons li{
  flex: 1;
  border: 1px solid white;
  margin-bottom: 0px;
  padding: 10px 0px;
  margin: 0px 6px;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0px 2px 20px rgba(255,255,255,0);

  transition: background-color .5s ease-in-out, color .5s ease-in-out, box-shadow .5s ease-in-out;
  /* justify-content: center; TODO FIX VERTICAL ALIGNMENT*/
}

.profile-buttons li:hover{
  background-color: #fff;
  color: #2b68ad;
  cursor: pointer;
  box-shadow: 0px 2px 20px rgba(255,255,255,.4);
}

@keyframes fade-in-canvas{
  0%    { transform: translateY(50px) scale(.9); opacity: 0; }
  100%  { transform: translateY(0px) scale(1)   ; opacity: 1; }
}

@keyframes fade-in-text{
  0%    { transform: translateY(100px) scale(.9); opacity: 0;}
  100%  { transform: translateY(0px) scale(1)   ; opacity: .3;}
}
